.header {
  background: url(./components/Images/backgroundImg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-content {
  padding-top: 150px;
  color: white;
}

.learnMoreContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.learnMoreContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.about {
  position: relative;
  background-color: black;
  min-height: 100vh;
}

.about-content {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

#me {
  position: relative;
  display: block;
  margin: auto;
  max-width: 70%;
}

.projects {
  position: relative;
  background-color: black;
}

.projects-content {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  height: 100vh;
}

.contact {
  position: relative;
  background-color: black;
}

.contact-content {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  height: 100vh;
}
